@import "/styles/variables.scss";

.description {
  margin: 2em;
  padding: 1em;
  border: 1px solid $blue-3;
  box-shadow: 0 2px 5px $basic-grey;
}

@media (max-width: 600px) {
  .description {
    margin: 1em;
  }
}
