@import "/styles/variables.scss";

.row {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.toggleIcon {
  font-size: 1.3em;
  color: $blue-2;
  margin: 0 0.4em;
  cursor: pointer;
}

.hidden {
  display: none;
}
