@import "/styles/variables.scss";

.container {
  text-align: center;
  padding: 1em;
  border-top: 2px solid $blue-1;
  height: 5em;
  background-color: rgb(240, 240, 240);
}

.link {
  margin-bottom: 0.7em;
  a {
    color: black;
  }
}
