@import "/styles/variables.scss";

.container {
  display: flex;
  flex-direction: row;
}

.hrefColumn {
  width: 100%;
  margin: 0 2em;
  padding: 1em;
  position: relative;
}

.box {
  display: flex;
  flex-direction: row;
  padding: 1em 0 1em 0.7em;
  position: absolute;
  background-color: white;
  border: 2px solid $blue-2;
  box-shadow: 3px 3px 5px;
}

.boxCloseButton {
  margin: 0 0.5em;
  cursor: pointer;
  color: $blue-2;
  font-size: 1.5em;
}

.hidden {
  display: none;
}

.alert {
  margin: 2em;
}

.legendContainer {
  position: relative;
  font-family: "roboto", sans-serif;
}

.legendOrange {
  display: block;
  height: 2em;
  border: 1px solid black;
  background-image: linear-gradient(
    to right,
    hsla(31, 86%, 51%, 0.3),
    hsla(31, 86%, 51%, 1)
  );
}

.legendBlue {
  @extend .legendOrange;
  border-top: 0;
  background-image: linear-gradient(
    to right,
    hsla(204, 82%, 57%, 0.3),
    hsla(204, 82%, 57%, 1)
  );
}

.labelTop {
  display: block;
  height: 0.5em;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.labelTitle {
  display: block;
  text-align: center;
  padding-bottom: 0.5em;
  text-decoration: underline;
}

.startLabel {
  position: absolute;
  left: -2em;
}

.endLabel {
  position: absolute;
  right: -2em;
}

.labelBottomSpacer {
  display: block;
  height: 1em;
}

.inputNumberCenterContainer {
  display: flex;
  justify-content: center;
}

.inputNumberColumn {
  display: flex;
  flex-direction: column;
}

.inputNumberLabelAlignLeft {
  align-self: flex-start;
}

.search {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;

  input {
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
    border: 0px solid;
    border-right: 1px solid $basic-grey;
    border-bottom: 2px solid $basic-grey;
    padding: 5px;
    height: 20px;
    outline: none;
    box-shadow: -1px -1px 1px $basic-grey;
    transition: all 0.25s ease;
  }

  input::placeholder {
    color: $placeholder-grey;
    opacity: 1;
  }

  input:focus {
    color: $blue-3;
    border-bottom: 3px solid $blue-2;
    box-shadow: -3px -3px 1px #ddd;
  }

  button {
    height: 2rem;
    margin: 0;
    border: 0px solid $blue-3;
    background: $blue-3;
    text-align: center;
    color: white;
    cursor: pointer;
    box-shadow: -1px -2px 1px $basic-grey;
    font-size: 20px;
    align-self: flex-end;
    transition: all 0.25s ease;
    padding: 0 0.5em;
    outline: none;
  }

  button:hover {
    color: #36424d;
    background-color: $basic-grey;
    box-shadow: 0px -1px 1px $basic-grey;
  }

  button:active {
    padding: 0 0.4em 0 0.6em;
  }

  input:focus + button {
    box-shadow: -2px -4px 1px $basic-grey;
  }

  &.disabled {
    input {
      background-color: #f3f7f7;
      pointer-events: none;
    }
    input:focus {
      border-bottom: 2px solid $basic-grey;
      box-shadow: -1px -1px 1px $basic-grey;
    }

    button {
      background-color: $basic-grey;
      color: #36424d;
      cursor: default;
    }

    button:hover {
      box-shadow: -1px -2px 0px $basic-grey;
    }

    input:focus + button {
      box-shadow: -1px -2px 1px $basic-grey;
    }
  }
}
