@import "styles/variables.scss";

.inputFile {
  cursor: pointer;
  width: 10px;
  opacity: 0;
  padding: 14px 0;
}

.inputFileButton {
  display: inline-block;
  white-space: nowrap;
  min-width: 5em;
  border: none;
  border-radius: 10px;
  background: $blue-2;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 2px 2px 4px $shadow;
  font-family: NovaSlim, sans-serif;
  transition: all 0.05s linear;
  outline: none;
  padding: 0.7em 1em;

  cursor: pointer;
  transition: all 0.4s;
}

.inputFileButtonLoaded {
  @extend .inputFileButton;
  background: $secondary;
}

// Change input look on hover and activation
.inputFile:hover ~ .inputFileButton {
  box-shadow: none;
  background-color: #c9bebe;
  color: black;
}

.inputFile:active ~ .inputFileButton {
  box-shadow: inset 0px 0px 4px grey !important;
  padding: 0.8em 0.9em 0.6em 1.1em;
}
