@import "/styles/variables.scss";

/* Add a black background color to the top navigation */
.topnav {
  font-family: NovaSlim, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto;
  background-color: #94dded;
  height: 2em;
  display: flex;
  justify-content: space-around;

  /* Style the links inside the navigation bar */
  a {
    color: #000000;
    text-decoration: none;
    font-size: 17px;
    transition: background-color 0.25s ease;
    // Make the <a> use all place available
    flex: 1 1 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  a:nth-child(2) {
    background-color: $blue-1;
  }
  a:nth-child(3) {
    background-color: $blue-2;
  }
  // a:nth-child(4) {
  //   background-color: #94dded;
  // }
  a:nth-child(5) {
    background-color: $blue-1;
  }
  a:nth-child(6) {
    background-color: $blue-2;
  }
  /* Change the color of links on hover */
  a:hover {
    background-color: #ddd;
    color: black;
  }
}

.banner {
  font-family: NovaSlim, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f8ca4;
  color: white;
}

.bannerTitle {
  font-size: 2em;
  font-weight: bold;
  margin: 1em;
  color: white;
  text-decoration: none;
}

.globalSpeciesSelector {
  margin: 0 2.5em;
  display: block;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  color: white;
  background-color: $blue-4;
  outline: none;

  option {
    background-color: black;
  }
}

@media (max-width: 800px) {
  .bannerTitle {
    font-size: 1.5em;
    margin: 0.5rem 0.5rem;
  }

  .globalSpeciesSelector {
    font-size: 0.8em;
    margin: 0 0.5em;
    width: 80%;
  }

  .topnav {
    height: 3em;
  }
}
