@import "/styles/variables.scss";

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.center {
  text-align: center;
}

.card {
  cursor: pointer;
  margin: 1em;
  padding: 1em;
  text-align: center;
  border: 3px solid $blue-1;
  box-shadow: 0px 0px 1px $basic-grey;
  transition: all 0.25s;
  font-size: 1.2em;
  font-weight: bold;

  &:hover {
    margin: 1em 1em 1.3em 1.3em;
    border: 3px solid $blue-3;
    box-shadow: 0px 0px 15px #aeadad;
  }

  blockquote {
    color: gray;
    font-size: 0.9em;
    font-weight: normal;
    margin: 1.5em 1em 0em;
  }
}
