.main {
  margin: 2rem;
}

.runName {
  margin-left: 3rem;
}

.comparisonList {
  margin: 1rem 2rem;
}

.dl {
  margin: 1rem;
  color: #5a5a5a;
  text-decoration: none;
}

.fastqcButton {
  font-size: small;
  margin: 0 1em;
}
