@import "/styles/variables.scss";

.container {
  margin: 1.5rem;
}

.description {
  margin: 2em;
}

@media (max-width: 600px) {
  .description {
    margin: 0;
  }
}

.table {
  margin: 2rem;
}

.hidden {
  display: none;
}

.descriptionRow {
  height: auto;
  white-space: normal;
}

.subsetSentence {
  margin-top: 4em;
}

.inlineFlex {
  height: 100px;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.search {
  margin: 2em;
  display: flex;
  width: 25%;
  position: relative;

  input {
    flex: 1 0 auto;
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
    border: 0px solid;
    border-bottom: 2px solid $basic-grey;
    border-right: 1px solid $basic-grey;
    padding: 5px;
    height: 20px;
    outline: none;
    box-shadow: -1px -1px 1px $basic-grey;
    transition: all 0.25s ease;
  }

  input:focus {
    border-bottom: 3px solid $blue-1;
    box-shadow: -3px -3px 1px #ddd;
  }
}

.loadingMessage {
  margin-top: 1em;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
}

.errorMessage {
  color: $error-red;
  text-align: center;
}

.resultContainer {
  margin-top: 1em;
  text-align: center;

  h3 {
    font-size: 1.2em;
  }
}
.resultTableContainer {
  margin: 2em 1em;
}

.downToggleTitle {
  margin: 2em;
  display: flex;
  justify-content: center;
}
