@import "/styles/variables.scss";

.table {
  margin: 2rem;
}

.descriptionRow {
  height: auto;
  white-space: normal;
}

.inputLine {
  margin: 2rem;
  padding: 1em;
  background-color: $basic-grey;
  border-radius: 4px;
}

.center {
  display: grid;
  justify-content: center;
  margin: 2em;
}

.error {
  color: $error-red;
  text-align: center;
}

.loadingMessage {
  margin-top: 1em;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
}

.log2FCLimit {
  display: flex;
  align-items: center;

  input {
    margin-right: 0;
    margin-bottom: 0;
    margin: 0 0 0 1em;
    width: 100%;
    border: 0px solid;
    border-bottom: 2px solid $basic-grey;
    border-right: 1px solid $basic-grey;
    padding: 5px;
    height: 20px;
    outline: none;
    box-shadow: -1px -1px 1px $basic-grey;
    transition: all 0.25s ease;
  }

  input::placeholder {
    color: $placeholder-grey;
    opacity: 1;
  }

  input:focus {
    color: $blue-2;
    border-bottom: 3px solid $blue-1;
    box-shadow: -3px -3px 1px #ddd;
  }
}

.tip {
  z-index: 2;
  width: 30em;
  color: black !important;
  background-color: white !important;
  padding: 0.5em;
  border: 2px solid $blue-2 !important;
  box-shadow: 3px 3px 5px !important;
}

.dlExample {
  cursor: pointer;
  margin: 1rem;
  color: #5a5a5a;
  text-decoration: none;
  width: fit-content;

  &:hover {
    text-decoration: underline;
  }
}

.exampleTable {
  outline: 1px solid black;
  border-spacing: 0;
  border-collapse: collapse;

  th {
    position: relative;
    padding: 0.5em;
    outline: 1px solid black;
    font-weight: 700;
  }
  td {
    padding: 0.5em;
  }

  .shadow {
    background-color: $basic-grey;
  }
}

.explanation {
  text-align: center;
  margin: 1em;
}

.exampleContainer {
  display: flex;
  max-width: 100%;
}

.exampleTableContainer {
  width: 30%;
  margin: 1em;
}

.exampleImg {
  width: 70%;
  margin: 1em;
}
